/* Exact match to original .col-4 / .col-5 styles */

.col-4 {
  flex-basis: 30%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  /* background-color: red; */
}

.col-4:hover {
  transform: translateY(-5px);
}

.col-4 img {
  width: 100%;
  border-radius: 5px;
  /* border-radius: 6px; */
  /* background-color: black; */
}

.col-4 h1 {
  color: dimgrey;
  font-weight: bold;
  /* font-size: 22px; */
  margin-top: 5px;
}

body.dark .col-4 h2 {
  color: var(--text-dark);
}

.col-4 .price {
  margin-top: 5px;
  font-size: 15px;
}

.old-price {
  text-decoration: line-through;
  color: var(--text-gray);
  margin-right: 8px;
}

.new-price {
  color: plum;
  font-weight: bold;
}

.col-5{
  /* background-color: gray; */
  border: none !important;
}